rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Public Stations (read-only)
    match /stations/{stationId} {
      allow read: if true;          // app can only read
      allow write: if false; // only admin script can write
    }

    // User data (private per user)
    match /users/{userId} {
      allow read, write: if request.auth != null 
                         && request.auth.uid == userId; 
    }

    match /users/{userId}/stamps/{stampId} {
      allow read, write: if request.auth != null 
                          && request.auth.uid == userId;
    }

    match /users/{userId}/todos/{todoId} {
      allow read, write: if request.auth != null 
                          && request.auth.uid == userId;
    }

  }
}
