/* Link to go back to the previous page */
.redirection-text {
    color: #D0D0D0;
    font-size: 1em;
    display: flex;
    margin-bottom: 10px;
    width: min(500px, 70%);
}

.redirection-text-button {
    margin-left: 5px;
    color: #FFC973;
}

#signup-form, #login-form {
    width: min(500px, 70%);
}

/* Div which holds the input */
.entry-area {
    position: relative;
    height: 50px;
    line-height: 50px;
    padding-top: 14px;
    margin-block: 10px;
}

.entry-area input {
    width: 100%;
    position: absolute;
    box-sizing: border-box;
    outline: none;
    font-size: 1em;
    padding: 15px 0;
    padding-left: 17px;
    border-radius: 10px;
    border: 1px solid #949494;
    transition: 0.2s ease;
    background: #0000008e;
    z-index: 10;
    color: #DADADA;
    cursor: pointer;
}

.label-line {
    position: absolute;
    font-size: 16px;
    color: #949494;
    margin-left: 20px;
    transition: 0.2s ease;
    line-height: 50px;
    z-index: 10;
}

.entry-area input:focus {
    background: #181818;
    border-color: #b6b6b6;
    box-shadow: 0 0 8px #949494;
}

.entry-area input:not(:placeholder-shown) + .label-line {
    opacity: 0;
}

/* Eye icon */
.show-hide-pass-icon {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.show-hide-pass-icon img {
    flex-shrink: 0;
    width: 20px;
    max-width: 100%;
    margin-right: 20px;
    z-index: 11;
    cursor: pointer;
    padding-top: 7px;
}

.terms-holder {
    display: flex;
    height: 20px;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 15px;
    cursor: pointer;
}

.terms-holder input {
    position: absolute;
    cursor: pointer;
    opacity: 0;
    height: 16px;
    width: 16px;
}

.check-mark {
    position: relative;
    height: 16px;
    width: 16px;
    background-color: #02020257;
    border: 1px solid #949494;
    border-radius: 5px;
    cursor: pointer;
    flex-shrink: 0;
}

.terms-holder input:hover .check-mark {
    background-color: #3f3f3fa8;
}

.terms-holder input:checked + .check-mark {
    background-color: #53535360;
}

/* Custom checkmark */
.check-mark:after {
    content: '';
    position: absolute;
    display: none;
    left: 5px;
    top: 2px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.terms-holder input:checked + .check-mark:after {
    display: block;
}

.terms-holder div {
    margin-left: 8px;
    color: #D0D0D0;
}

/* Buttons */
.proceed-to-account, .google, .github {
    width: 100%;
    padding-block: 15px;
    background-color: #00000085;
    border: 1px solid #949494;
}

.proceed-to-account {
    margin-top: 20px;
}

.google, .github {
    color: #D0D0D0;
    font-weight: 300;
}

.enter-via, .account-options {
    color: #D0D0D0;
    width: min(500px, 70%); 
    margin-top: 25px;
    margin-bottom: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.account-options {
    margin-top: -10px;
    margin-bottom: 20px;
}

.account-options button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 47%;
    height: 50px;
    gap: 10px;
    font-size: 1em;
}

/* Left gradient line near "enter via" */
.line {
    background: linear-gradient(20deg, #454545, #FFFFFF);
    width: 25%;
    height: 2px;
    border-radius: 3px;
}

/* Right gradient line */
.right {
    background: linear-gradient(20deg, #a1a1a1, #FFFFFF);
}

.go-back img {
    display: block;
    width: 80%;
    margin-top: 10px;
}

.error-message {
    margin-top: 10px;
    color: rgb(255, 93, 93);
}