body {
    overflow: hidden;
}

.authMainPage {
    width: 100%;
    height: 100vh;
    background: url('../../assets/images/AuthPageBlackBG.svg') center center / cover no-repeat; 
    color: white;
    position: relative;
}

.lightRaysPNG {
    width: 100%;
    height: 100vh;
    background: url('../../assets/images/LightRays.png') center center / cover no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    transform-origin: top center; /* Makes the "swing" happen from the top */
    animation: lightMovement 10s ease-in-out infinite;
}

@keyframes lightMovement {
    0%, 100% {
        opacity: 0.4;
        transform: scale(1);
    }
    50% {
        opacity: 0.8;
        transform: scale(1.05);
    }
}