@font-face {
    font-family: Inter;
    src: url(assets/fonts/Inter-VariableFont_opsz\,wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: Inter;
    overflow: hidden;
}

/* MAP component styles */

#map-wrap {
    position: relative;
    width: 100%;
    height: 100vh;
}

#map-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.mapboxgl-control-container {
    display: none;
}

.mapboxgl-marker {
    overflow: visible;
}

.mapboxgl-marker img {
    transition: transform 1s ease;
    transform-origin: bottom;
}

.mapboxgl-marker img:hover {
    transform: scale(1.3);
}

/* AUTH PAGE component styles */

.authPage {
    display: flex;
    justify-content: left;
    margin: 10px
}

.signIn, .logIn, .otherServices {
    display: block;
    width: 200px;
}

input {
    height: 20px;
    margin-bottom: 5px;
}

button {
    width: 90px;
    height: 30px;
}

.otherServices button {
    width: 150px;
    margin-bottom: 5px;
}

/* GREETING SCREEN component styles */

.authMainPage {
    width: 100%;
    height: 100vh;
    background-image: url('./assets/AuthPageBlackBG.svg');
    color: white;
    position: relative;
}

.lightRaysPNG {
    width: 100%;
    height: 100vh;
    background-image: url('./assets/LightRays.png');
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.topBar {
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 1111;
}

.greetingText, .signUpElements, .logInElements {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.catchPhrase {
    position: relative;
    background: transparent;
    padding: 8px 0;
    width: 350px;
    color: #D0D0D0;
    font-size: 13px;
    text-align: center;
    font-weight: 300;
}

.catchPhrase::before {  /* ::before creates a pseudo element*/
    content: '';  /* Required for pseudo-element to render */
    position: absolute;
    inset: 0;
    border-radius: 50px;
    padding: 2px;
    background: linear-gradient(20deg, #3B3B3B, #BDBDBD);

    /* This compositing mode subtracts the first mask from the second */
    /* Result: only the 2px padding area (the "border") remains visible */
    mask: 
        linear-gradient(#fff 0 0) content-box,  /* Mask out the content area */ 
        linear-gradient(#fff 0 0);  /* Keep the entire element */
    mask-composite: exclude;

    pointer-events: none; /* Allows clicks to pass through to text */
}

.mainTitle, .signUpElements .title, .logInElements .title {
    font-size: 50px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: 400;
    letter-spacing: 3px;
}

.gradientText {
    background: -webkit-linear-gradient(20deg, #454545, #FFFFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
}

.subTitle {
    color: #D0D0D0;
    width: 790px;
    line-height: 30px;
    text-align: center;
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 50px;
}

.authButton, .createAccount, .googleSignUp, .githubSignUp, .logIntoAccount, .googleLogIn, .githubLogIn {
    width: 360px;
    height: 84px;
    text-decoration: none;
    text-align: center;
    line-height: 84px;
    text-transform: uppercase;
    font-size: 22px;
    background: #0000007e;
    border: 2px solid #FFC973;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: 0.4s ease;
    font-weight: 400;
}

.authButton:hover {
    box-shadow: 
        0 0 15px #ffc973a8,  /* outer glow */
        inset 0 0 15px #ffc973a8;   /* inner glow */
}

/* SIGN UP and LOG IN component styles (some are inherited from the GREETING SCREEN)*/

.signUpElements, .logInElements {
    height: 100vh;
    /* background-image: url('./assets/authStationTextBG.svg'); */
    background-color: #0A0A0A;
}

.signUpElements .title, .logInElements .title {
    margin-bottom: 20px;
}

.logInRedirectionText, .signUpRedirectionText {
    color: #D0D0D0;
    font-size: 16px;
    display: flex;
    margin-bottom: 18px;
}

.logInRedirectionTextButton, .signUpRedirectionTextButton {
    margin-left: 5px;
    color: #FFC973;
}

.signUpInputs, .logInInputs {
    width: 651px;
    margin-bottom: 10px;;
}

.entryArea {
    position: relative;
    height: 110px;
    line-height: 80px;
    padding-top: 14px;
}

.entryArea input {
    width: 99%;
    position: absolute;
    box-sizing: border-box;
    outline: none;
    font-size: 16px;
    padding: 40px 0;
    padding-left: 20px;
    border-radius: 10px;
    border: 2px solid #949494;
    transition: 0.1s ease;
    background: transparent;
    z-index: 1111;
    color: #949494;
    cursor: pointer;
}

.labelLine {
    position: absolute;
    font-size: 20px;
    color: #848484;
    background-color: #0A0A0A;
    padding: 0 25px;
    margin: 0 20px;
    transition: 0.2s ease;
}

.entryArea input:focus, input:not(:placeholder-shown) {
    color: white;
    border-color: white;
    font-size: 20px;
}

.entryArea input:focus + .labelLine,
input:not(:placeholder-shown) + .labelLine {
    color: white;
    height: 30px;
    line-height: 30px;
    padding: 0 12px;
    transform: translate(-15px, -16px) scale(0.84);
    z-index: 2222;
    border: 2px solid white;
    border-radius: 10px;
}

/* OLD DESIGN FOR INPUTS */

/* .signUpInputs input {
    width: 650px;
    height: 80px;
    background-color: #02020249;
    color: #848484;
    font-size: 16px;
    border: 2px solid #949494;
    border-radius: 10px;
    margin-bottom: 35px;
}

.signUpInputs input:nth-child(1), .signUpInputs input:nth-child(2) {
    margin-bottom: 20px;
}

.signUpInputs {
    display: flex;
    flex-direction: column;
} */

.termsHolder {
    display: flex;
    height: 20px;
    align-items: center;
    margin-bottom: 35px;
    cursor: pointer;
}

.termsHolder input {
    position: absolute;
    cursor: pointer;
    opacity: 0;
    height: 16px;
    width: 16px;
}

.checkMark {
    position: relative;
    height: 16px;
    width: 16px;
    background-color: #02020257;
    border: 2px solid #949494;
    border-radius: 6px;
    cursor: pointer;
    flex-shrink: 0;
}

.termsHolder input:hover .checkMark {
    background-color: #3f3f3fa8;
}

.termsHolder input:checked + .checkMark {
    background-color: #53535360;
}

.checkMark:after {
    content: '';
    position: absolute;
    display: none;
    left: 5px;
    top: 2px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.termsHolder input:checked + .checkMark:after {
    display: block;
}

.termsHolder div {
    margin-left: 8px;
    color: #D0D0D0;
}

.createAccount, .googleSignUp, .githubSignUp, .logIntoAccount, .googleLogIn, .githubLogIn {
    width: 650px;
    height: 80px;
    line-height: 80px;
    background-color: #00000085;
    border: 2px solid #949494;
}

.googleSignUp, .githubSignUp, .googleLogIn, .githubLogIn {
    width: 300px;
    color: #D0D0D0;
    font-weight: 300;
}

.createAccount:hover, .googleSignUp:hover, .githubSignUp:hover, .logIntoAccount:hover, .googleLogIn:hover, .githubLogIn:hover {
    border: 2px solid #FFC973;
    box-shadow: 
        0 0 15px #ffc973a8,
        inset 0 0 15px #ffc973a8;
}

.signUpVia, .signUpOptions, .logInVia, .logInOptions {
    color: #D0D0D0;
    width: 650px;
    margin-top: 35px;
    margin-bottom: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.signUpOptions, .logInOptions {
    margin-top: -10px;
    margin-bottom: 20px;
    width: 670px;
}

.signUpOptions button, .logInOptions button {
    margin: 10px;
}

.line {
    background: linear-gradient(20deg, #454545, #FFFFFF);
    width: 230px;
    height: 2px;
    border-radius: 3px;
}

.right {
    background: linear-gradient(20deg, #a1a1a1, #FFFFFF);
}

.goBack img {
    display: block;
}