@font-face {
    font-family: Inter;
    src: url(assets/fonts/Inter-VariableFont_opsz\,wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: Inter;
    overflow: hidden;
}

/* MAP component styles */

#map-wrap {
    position: relative;
    width: 100%;
    height: 100vh;
}

#map-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.mapboxgl-control-container
{
    display: none;
}

.mapboxgl-marker
{
    overflow: visible;
}

.mapboxgl-marker img
{
    transition: transform 1s ease;
    transform-origin: bottom;
}

.mapboxgl-marker img:hover
{
    transform: scale(1.3);
}