* {
    margin: 0;
    padding: 0;
}

.map-wrap {
    position: relative;
    width: 100%;
    height: 100vh;
}

.map {
    position: absolute;
    width: 100%;
    height: 100%;
}

.maplibregl-ctrl-bottom-left, .maplibregl-ctrl-bottom-right {
    display: none;
}