.loading-screen {
    width: 100%;
    height: 100vh;
    background: #1A1A1A;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 12;
}

.loader {
  font-size: 1.2em;
  animation: l1 1s linear infinite alternate;
}
.loader:before {
  content:"Preparing the map..."
}
@keyframes l1 {to{opacity: 0}}


#map-wrap {
    position: relative;
    width: 100%;
    height: 100vh;
}

#map-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.mapboxgl-control-container {
    display: none;
}

.mapboxgl-marker img {
    transition: transform 0.2s ease;
    scale: 0.9;
    transform-origin: bottom;
}

.mapboxgl-marker:not(.userMarker) img:hover {
    transform: scale(1.3);
    /* transform-origin: bottom; */
}

/* UI Elements alongside Map div styles */

.UI-elements {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #DADADA;
}

.UI-elements > * {    /* Re-enable the clickability of the children elements like buttons and text but keep the full element itself "transparent" */
    pointer-events: auto;
    z-index: 10;
}

.at-station-logo {
    position: fixed;
    top: 50px;
    left: 60px;
    font-size: 0.9em;

    @media (max-width: 500px) {
        top: 30px;
        left: 30px;
        font-size: 0.8em;
    }

    @media (min-width: 1920px) {
        font-size: 1em;
    }
}

.top-curr-station-name {
    margin-top: 28px;
    text-align: center;
    pointer-events: none;
    cursor: default;
}

.top-curr-station-name .lable {
    font-size: 0.9em;
    pointer-events: auto;
}

.top-curr-station-name .station-name {
    font-size: 1.5em;
    text-transform: uppercase;
    margin-block: 10px;
    letter-spacing: 2px;
    pointer-events: auto;
    color: #fff;

    @media (max-width: 500px) {
        font-size: 1.6em;
    }

    @media (min-width: 1920px) {
        font-size: 1.7em;
    }
}

.top-curr-station-name .line {
    width: 100%;
    background: white;
}

.popup-window {
    width: clamp(380px, 40%, 700px);
    height: 50%;
    background-color: #00000070;
    border: 1px solid #949494; 
    border-radius: 10px;
    backdrop-filter: blur(2px);
    font-weight: 300;
    position: relative;
}

.popup-close-button {
    scale: 0.8;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    z-index: 11;
    top: 20px;
    right: 20px;

    @media (max-width: 500px) {
        scale: 0.6;
    }
}

.window-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.window-info .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 45px;
    color: #D0D0D0;

    @media (max-width: 500px) {
        margin-top: 0;
        margin-block: 25px;
    }
}

.window-info {
    @media (max-width: 500px) {
        justify-content: center;
    }

    font-size: 0.9em;

    @media (min-width: 1920px) {
        font-size: 1em;
    }
}

.main-lable {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.7em;
    font-weight: 500;
    margin-block: 10px;
    color: #fff;

    @media (max-width: 500px) {
        font-size: 1.6em;
    }
}

.progress-lost {
    font-size: 1.7em;
    margin-block: 15px;

    @media (max-width: 500px) {
        font-size: 1.3em;
        width: 280px;
        text-align: center;
    }
}

.travel-time strong {
    color: #fff;
}

.description {
    width: 80%;
    margin-block: 15px;
    line-height: 27px;
    text-align: center;
}

.bottom-UI {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 145px;
    pointer-events: none;

    @media (max-width: 500px) {
        height: 170px;
        margin-bottom: 40px;
    }
}

.travel-time-bar {
    width: 50%;
    position: relative;
    padding: 4px 0;
    color: #DADADA;
    text-align: center;
    font-size: 0.9em;
    letter-spacing: 1px;
    pointer-events: auto;
    cursor: default;
    background-color: #00000070;
    border: 1px solid #949494; 
    border-radius: 50px;
    backdrop-filter: blur(2px);

    @media (max-width: 500px) {
        font-size: 0.8em;
    }
}

.bottom-UI .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-bottom: 25px;
    padding-right: 75px;

    @media (max-width: 500px) {
        flex-wrap: wrap;
        justify-content: center;
        padding-right: 0;
    }
}

.at-station-button {
    @media (max-width: 500px) {
        order: -1;
        margin-inline: 90px;
        margin-top: 20px;
    }
}

.at-station-button, .confirmation-button {
    width: 200px;
    height: 70px;
    background-color: #00000070;
    border: 1px solid #949494; 
    border-radius: 10px;
    text-transform: uppercase;
    color: #DADADA;
    font-size: 1.4em;
    letter-spacing: 1px;
    backdrop-filter: blur(2px);
    pointer-events: auto;

    @media (max-width: 500px) {
        width: 200px;
        height: 70px;
    }

    @media (min-width: 1920px) {
        width: 220px;
        height: 75px;
    }
}

.stop-travelling-button {
    width: 240px;
    font-size: 1.3em;
}

.feature-button {
    background-color: #00000070;
    border: 1px solid #949494; 
    border-radius: 10px;
    color: #DADADA;
    transition: 0.2s ease;
    cursor: pointer;
    backdrop-filter: blur(2px);
    pointer-events: auto;
    width: 55px;
    height: 55px;

    @media (min-width: 1920px) {
        width: 60px;
        height: 60px;
    }
}

.confirmation-button {
    width: 200px;
    height: 60px;
    font-size: 1.4em;
    transition: 0.4s ease;
    cursor: pointer;
}

.feature-button img {
    scale: 0.7;

    @media (min-width: 1920px) {
        scale: 0.8;
    }
}

.stamps-button img {
    scale: 0.66;
}

.end-travelling-button {
    position: fixed;
    top: 40px;
    right: 40px;
    width: 70px;
    scale: 0.9;

    @media (max-width: 500px) {
        width: 60px;
        top: 40px;
        right: 30px;
    }
}

.travelling {
    transition: 0.4s ease;
    cursor: pointer;
}

.feature-button:hover {
    background-color: #0000009d;
    box-shadow: 0 0 17px #8686868a;
    transform: scale(1.03);
    transform-origin: center;
}

.confirmation-button {
    margin-bottom: 40px;
    background-color: transparent;
}