/* Link to go back to the previous page */
.redirection-text {
	color: #d0d0d0;
	font-size: clamp(0.8em, 2vh, 1em);
	display: flex;
	margin-bottom: clamp(5px, 1.2vh, 10px);
	width: clamp(150px, 60vw, 500px);
}

.redirection-text-button {
	margin-left: 5px;
	color: #ffc973;
}

#signup-form,
#login-form {
	width: clamp(150px, 60vw, 500px);
}

/* Div which holds the input */
.entry-area {
	position: relative;
	height: 40px;
	padding-top: clamp(0px, 0.9vh, 14px);
	margin-block: 10px;
}

.entry-area input {
	width: 100%;
	position: absolute;
	box-sizing: border-box;
	outline: none;
	font-size: clamp(0.8em, 2.1vh, 1em);
	padding: 10px 0;
	padding-left: 17px;
	border-radius: 10px;
	border: 1px solid #949494;
	transition: 0.2s ease;
	background: #0000008e;
	z-index: 10;
	color: #dadada;
	cursor: pointer;
}

.label-line {
	position: absolute;
	font-size: clamp(0.8em, 2.1vh, 1em);
	color: #949494;
	margin-left: 20px;
	transition: 0.2s ease;
	line-height: 40px;
	z-index: 10;
}

.entry-area input:focus {
	background: #181818;
	border-color: #b6b6b6;
	box-shadow: 0 0 8px #949494;
}

.entry-area input:not(:placeholder-shown) + .label-line {
	opacity: 0;
}

/* Eye icon */
.show-hide-pass-icon {
	width: 100%;
	height: 70%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.show-hide-pass-icon img {
	flex-shrink: 0;
	width: 20px;
	max-width: 100%;
	margin-right: 20px;
	z-index: 11;
	cursor: pointer;
	padding-top: 7px;
}

.terms-holder {
	display: flex;
	height: clamp(10px, 2dvh, 20px);
	align-items: center;
	margin-top: clamp(10px, 3vh, 25px);
	margin-bottom: clamp(0px, 1vh, 25px);
	cursor: pointer;
	font-size: clamp(0.8em, 2.1vh, 1em);
}

.terms-holder input {
	position: absolute;
	cursor: pointer;
	opacity: 0;
	height: 16px;
	width: 16px;
}

.check-mark {
	position: relative;
	height: 16px;
	width: 16px;
	background-color: #02020257;
	border: 1px solid #949494;
	border-radius: 5px;
	cursor: pointer;
	flex-shrink: 0;
}

.terms-holder input:hover .check-mark {
	background-color: #3f3f3fa8;
}

.terms-holder input:checked + .check-mark {
	background-color: #53535360;
}

/* Custom checkmark */
.check-mark:after {
	content: "";
	position: absolute;
	display: none;
	left: 5px;
	top: 2px;
	width: 4px;
	height: 8px;
	border: solid white;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
}

.terms-holder input:checked + .check-mark:after {
	display: block;
}

.terms-holder div {
	margin-left: 8px;
	color: #d0d0d0;
}

/* Buttons */
.proceed-to-account,
.google,
.github {
	width: 100%;
	padding-block: clamp(5px, 1.8vh, 15px);
	background-color: #00000085;
	border: 1px solid #949494;
}

.proceed-to-account {
	margin-top: clamp(5px, 2.4vh, 20px);
}

.google,
.github {
	color: #d0d0d0;
	font-weight: 300;
}

.enter-via,
.account-options {
	color: #d0d0d0;
	width: clamp(150px, 60vw, 500px);
	margin-top: clamp(10px, 2.5vh, 25px);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	font-size: clamp(0.8em, 2.1vh, 1em);
}

.account-options {
	margin-bottom: clamp(5px, 2vh, 20px);

	@media (max-width: 500px) {
		display: flex;
		flex-direction: column;
		width: 120%;
		gap: clamp(5px, 1vh, 20px);
	}
}

.account-options button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 47%;
	height: clamp(20px, 6vh, 50px);
	gap: 10px;
	font-size: 1em;
}

/* Left gradient line near "enter via" */
.line {
	background: linear-gradient(20deg, #454545, #ffffff);
	width: 25%;
	height: 2px;
	border-radius: 3px;
}

/* Right gradient line */
.right {
	background: linear-gradient(20deg, #a1a1a1, #ffffff);
}

.go-back img {
	width: 70%;
	margin-top: 10px;
}

.error-message {
	margin-top: 10px;
	font-size: clamp(0.8em, 2.1vh, 1em);
	color: rgb(255, 93, 93);
}
